* {
    /* margin: 0; */
    font-family: 'Work Sans',
        sans-serif;
}

/* Button section  */
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.btn-primary2 {
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
}

.paragraph-color {
    color: rgb(8, 132, 241);
}

h1 {
    font-size: 34px;
}

li {
    list-style: none;
}

.fail-secion {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 79%;
}

.think {
    background: #FFF8F3;
    background-image: url('images/banner/banner1.png');
    text-align: right;

}

.think p,
h1,
li {
    padding-right: 15%;

}

.think h1 {
    padding-top: 10%;
}

.think li {
    padding-bottom: 10%;
}

.skill {
    background: #FFFFFF;
    /* box-shadow: 0px 6px 50px rgb(0, 0, 0, 0.06); */
    border-radius: 5px;
    padding: 30px;
}

.skills-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #ff0505;
}

.PlanMid {
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}

.positivemind {
    background: #FFF8F3;
    background-image: linear-gradient(45deg,
            rgba(245, 70, 66, 0.75),
            rgba(8, 83, 156, 0.75)), url('images/watch.png');
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
}

.positivemind h1,
li {
    padding-left: 5%;
}

.positivemind h1 {
    padding-top: 07%;
}

.positivemind li {
    padding-bottom: 7%;
}

.contact {
    display: flex;
    gap: 100px;
    background: #e0d3cb;
    padding: 130px 200px;
}

.contact a {
    text-decoration: none;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(213, 202, 198);
    color: white;
    /* text-decoration: none; */
}

footer p a {
    text-decoration: none;
}


input::placeholder {
    color: #680bf3;
    opacity: 1;
}